---
name: Renovate

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.5
        with:
          configurationFile: .github/renovate-config.json5
          token: '${{ secrets.RENOVATE_TOKEN }}'
        env:
          LOG_LEVEL: 'debug'
